{% extends "base.html" %}
{% block content %}

<h1>Catálogo Apple</h1>

<form action="/crear" method="post">
    <input type="text" name="cliente" placeholder="Nombre cliente" required>

    <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); gap:20px; margin-top:20px;">
        {% for p in catalogo %}
        <div style="background:#1e293b; padding:15px; border-radius:10px;">
            <img src="{{ p.imagen }}" style="width:100%; height:140px; object-fit:contain;">
            <h3>{{ p.nombre }}</h3>
            <p>$ {{ p.precio }}</p>
            <input type="hidden" name="productos" value="{{ p.nombre }}">
            <input type="hidden" name="precios" value="{{ p.precio }}">
            <input type="number" name="cantidades" min="0" value="0">
        </div>
        {% endfor %}
    </div>

    <button class="btn-primary" style="margin-top:20px;">Realizar compra</button>
</form>

{% endblock %}
